@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .chat {
    @apply whitespace-pre-wrap;
    @apply rounded;
  }
  .chat > .role {
    @apply text-xs;
    @apply text-gray-500;
    @apply mb-1;
  }
  .chat > .content {
    @apply px-2;
    @apply py-1;
    @apply rounded-xl;
  }

  .chat-user > .role {
    text-align: right;
  }

  .chat-user {
    @apply ml-8;
  }

  .chat-assistant {
    @apply mr-8;
  }

  .chat-user > .content {
    @apply rounded-br-none;
  }

  .chat-assistant > .content {
    @apply rounded-bl-none;
    @apply bg-green-100;
    @apply shadow-sm;
  }

  .shadow-inner-white::after {
    content: "";
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    height: 6rem;
    background: linear-gradient(to bottom, rgba(255, 255, 255), transparent);
  }
}
